.projects-section {
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}

.project-image-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 8px 8px 0 0; /* Arredonda apenas o topo se o card tiver border-radius */
  position: relative;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.project-card {
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid var(--primary-color);
    transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.project-image img {
  flex: 1 1 45%; /* Faz cada imagem ocupar pelo menos 45% da largura */
  min-width: 150px; /* Largura mínima antes do wrap */
  height: 25vh; /* Reduzi um pouco a altura para acomodar múltiplas linhas */
  object-fit: contain;
}

.project-info {
  padding: 1.5rem;
}

.project-info h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--light-color);
}

.project-info p {
  margin-bottom: 1rem;
  color: var(--light-color);
}

.project-technologies {
    
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.project-technologies span {
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  border: 2px solid var(--secondary-color);
  font-size: 0.8rem;
  color: var(--light-color);
}

.project-technologies span:hover {
  background-color: var(--secondary-color);
}

.project-links {
  display:flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: center;
}

.project-links a {
    margin-left: 0px;
    padding: 10px;
    margin: 15px;
}